<appSettings>
	<add key="SMTP_SERVER" value="smtp.gmail.com" />
	<add key="SMTP_PORT" value="587" />
	<add key="SMTP_SSL" value="true" />
	<add key="SMTP_USERNAME" value="sendmail.noreply@gmail.com" />
	<add key="SMTP_SENDER" value="sendmail.noreply@gmail.com" />
	<add key="SMTP_PASSWORD" value="/zUcd8K5wv9ykbKbBqV/AD8fje1iCwFV" />
	<add key="CATEGORY_TABLE" value="tblCategories" />
	<add key="PRODUCT_TABLE" value="tblProducts" />
	<add key="ARTICLE_TABLE" value="tblArticle" />
	<add key="BANNER_TABLE" value="tblBanner" />
	<add key="COMMENT_TABLE" value="tblComment" />
	<add key="aspnet:MaxHttpCollectionKeys" value="10000" />
	<add key="SEO_EXTENSION" value=".html"/>
	<add key="DS" value="/"/>
	<add key="SESSION_KEY" value="gfyt68f6ff" />
	<add key="KEY_HASH" value="§¥±@»" />
	<add key="COOKIE_KEY" value="sf685685dste"/>
	<add key="ROOT_URL" value="http://localhost:57042" />
	<add key="MAIN_URL" value="https://mayvesinh.vn" />
	<add key="SITE_NAME" value="mayvesinh" />
	<add key="PAGING_ADMIN" value="20" />
	<add key="NO_IMG_PATH" value="/assets/images/no-img.png" />
	<add key="CACHE_TIME_MINUTES" value="10" />
	<add key="ROWS_PRODUCTCATEGORY" value="40" />
	<add key="SORT_PRODUCTCATEGORY" value="Sort" />
	<add key="MAX_ITEM_MENU" value="100" />
	<add key="MAX_ITEM_CATEGORY_HOME" value="7" />
	<add key="DOMAIN_BANNER_MANAGER" value="https://banner.thadaco.vn" />
	<add key="DOMAIN_BANNER_DISPLAY" value="mayvesinh.vn" />
	<add key="FAV_FOLDER" value="/" />
	<add key="GoogleCaptcha_SiteKey" value="6LeElkAUAAAAAM7096vN2jTDaRKgt18ucqNkhEs_"/>
	<add key="GoogleCaptcha_SecretKey" value="6LeElkAUAAAAANuMaaQDYjafpAYLDnXYQlTa00eq"/>
</appSettings>
