<connectionStrings>
	<remove name="LocalSqlServer"/>
	<add name="LocalSqlServer" connectionString="Data Source=14.225.19.36;Initial Catalog=mayvesinh_db;User ID=sa;Password=N36MNge4g$@$@TTge$$@@gdTTT;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60;"/>
	<!--<add name="LocalSqlServer" connectionString="Data Source=14.225.19.36;Initial Catalog=nhaccutiendat_db;User ID=sa;Password=N36MNge4g$@$@TTge$$@@gdTTT;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60;"/>-->
	<remove name="BannerConnectionString"/>
	<add name="BannerConnectionString" connectionString="Data Source=14.225.19.36;Initial Catalog=banner_bk;User ID=tiendat;Password=N36MNge4g$@$@TTge$$@@gdTTT;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60;"/>
	<remove name="LogSqlServer"/>
	<add name="LogSqlServer" connectionString="Data Source=14.225.19.69;Initial Catalog=tuanson_db;User ID=sa;Password=Noel$hsTu$fgw@ekM$l74Bh4$hsr@gyuuHj7NT9f;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60;"/>
</connectionStrings>
