<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="resizer" type="ImageResizer.ResizerSection"/>
  </configSections>
  <log4net>
    <appender name="CoreAppender" type="log4net.Appender.RollingFileAppender">
      <file value="upload/Logs/logs.txt"/>
      <appendToFile value="true"/>
      <encoding value="unicode"/>
      <maximumFileSize value="100MB"/>
      <maxSizeRollBackups value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="CoreAppender"/>
    </root>
  </log4net>
  <resizer>
    <sizelimits/>
    <diskcache enabled="false"/>
    <remotereader signingKey="ag383ht23sag#laf#lafF#oyfafqewt;2t w eyfwfefwqefqw" allowAllSignedRequests="true"/>
    <clientcache minutes="1000"/>
    <presets>
      <preset name="thumb-defs" defaults="maxwidth=100;maxheight=100"/>
      <preset name="thumb" settings="maxwidth=100;maxheight=100"/>
    </presets>
    <plugins>
      <!-- So all the sample projects can share the same image folder-->
      <add name="VirtualFolder" virtualPath="~/" physicalPath="..\Images"/>
      <add name="VirtualFolder" virtualPath="~/folder" physicalPath="..\Images"/>
      <add name="VirtualFolder" virtualPath="~/Misc" physicalPath="..\Images"/>
      <add name="VirtualFolder" virtualPath="~/Misc/Protected2" physicalPath="..\Images"/>
      <add name="DiskCache"/>
      <add name="DropShadow"/>
      <add name="PrettyGifs"/>
      <add name="Image404"/>
      <add name="AnimatedGifs"/>
      <add name="Gradient"/>
      <add name="SimpleFilters"/>
      <add name="RemoteReader"/>
      <add name="AdvancedFilters"/>
      <add name="CloudFront"/>
      <add name="SeamCarving"/>
      <add name="FolderResizeSyntax"/>
      <add name="ImageHandlerSyntax"/>
      <add name="MyCode.MyPlugins.SamplePlugin"/>
      <add name="WhitespaceTrimmer"/>
      <add name="FreeImageDecoder"/>
      <add name="PsdReader"/>
      <add name="Watermark"/>
      <add name="SpeedOrQuality"/>
      <add name="AutoRotate"/>
      <add name="FreeImageEncoder"/>
      <add name="FreeImageDecoder"/>
      <add name="FreeImageBuilder"/>
      <add name="FreeImageScaling"/>
      <add name="Presets"/>
      <add name="WicBuilder"/>
      <add name="WicDecoder"/>
      <add name="WicEncoder"/>
      <remove name="SizeLimiting"/>
    </plugins>
    <watermarks>
      <otherimages path="~/watermarks" right="20" bottom="20" width="20" height="20"/>
      <text name="filltext" text="#{text}" align="middlecenter" fill="true" font="Courier New"/>
      <text name="glow" text="#{text}" align="middlecenter" glowWidth="10" glowColor="ff8833" fill="true" font="Courier New"/>
      <text name="outglow" text="#{text}" align="middlecenter" outlineWidth="2" outlineColor="white" glowWidth="10" glowColor="ff8833" fill="true" font="Courier New"/>
      <text name="filltext45" text="#{text}" angle="45" align="middlecenter" fill="true" font="Courier New"/>
      <image name="test1" path="~/watermarks/Sun_64.png" imageQuery="filter=alpha(0.5)&amp;rotate=45" top="0" left="0"/>
      <text name="test2" text="Hello #{name}!" vertical="true" align="topright"/>
      <image name="gradientbg" path="~/gradient.png" drawAs="background" imageQuery="color1=black&amp;color2=white&amp;angle=45" top="0" right="0" left="0" bottom="0"/>
      <group name="storyBG">
        <image path="~/watermarks/Sun_64.png" align="topleft" width="100%" height="100%" relativeTo="canvas" drawAs="Background"/>
      </group>
    </watermarks>
  </resizer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="81B46EB6931C869500AABE8B39E5CE5AACC0E2C72AFA4ED706903731227D13CFC0AF43AABE05599D3E38CFDB3C4FB4243FE2AF42153B56409A4E6DB25AB1A6DD" decryptionKey="EF72CAC18ACBF6674AA18910DAC6BA3E3B695E5F33992E05A8217B65076E8BE8" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages validateRequest="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add namespace="Ebis.Utilities" assembly="Ebis.Utilities" tagPrefix="ebis"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/login/" timeout="259200" name="__Auth"/>
    </authentication>
    <httpHandlers>
      <add path="ci.axd" verb="*" type="SharpPieces.Web.Controls.CaptchaImageProvider, SharpPieces.Web.Controls, Version=2.3.0.0, Culture=neutral, PublicKeyToken=null" validate="true"/>
      <add verb="GET" path="Image.ashx" type="ASPNET_Captcha.Image, ASPNET_Captcha"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <remove path="ScriptResource.axd" verb="GET"/>
      <add verb="*POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
    <customErrors mode="Off" defaultRedirect="~/404.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
    <httpRuntime maxRequestLength="100000" requestValidationMode="2.0"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <clear />
      <error statusCode="404" responseMode="Redirect" path="/404.html" />
    </httpErrors>-->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="CGI-exe"/>
      <add name="PHPHandler" path="*.php" verb="*" modules="CgiModule" scriptProcessor="D:\xampp2016\php\php-cgi.exe" resourceType="File"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="PiczardWebResource" verb="*" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard"/>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
  </system.webServer>
  <connectionStrings configSource="_configs\db.config"/>
  <appSettings configSource="_configs\appSetting.config"/>
</configuration>